@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  background: #0069d9;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #f7f7f7;
  margin: 30px auto;
  width: 330px;
  max-height: 776px;
  padding: 10px 20px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0;
  margin: 5px 0 5px;
  border-radius: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}
.money.minus {
  color: #c0392b;
}

label {
  display: none;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  box-shadow: var(--box-shadow);
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.positive:focus {
  outline-color: #2ecc71;
}

.negative:focus {
  outline-color: #c0392b;
}

.btn {
  background-color: #0069d9;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 900;
  margin: 20px 0 10px;
  width: 100%;
  height: 44px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  max-height: 208px;
  overflow-y: auto;
  overflow-x: visible;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0 10px 25px;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}
.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 0px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  transition: opacity 0.3s ease;
  box-shadow: var(--box-shadow);
  opacity: 0;
  cursor: pointer;
  line-height: 20px;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.wrapper {
  display: inline-flex;
  background: transparent;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0;
  margin-top: 5px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
}
.wrapper .option {
  background: #fff;
  border: 1px solid #dedede;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2px;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 900;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

input[type='radio'] {
  display: none;
}
#option-1:checked:checked ~ .option-1 {
  border-color: #2ecc71;
  background: #2ecc71;
}
#option-2:checked:checked ~ .option-2 {
  border-color: #e74c3c;
  background: #e74c3c;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
